<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="icon" href="/img/k.png">
    <title>Kory - Modificar Producto</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/valid.js"></script>
</head>
<body>
    
    <%- include("header") %>


    <h1 class ="rotulo">Modificar Producto</h1>

    <div class = "contenedorGeneral">
        <div class = "contenedorProductos">
            
            
            <div class = "datosProducto">
                <form method="POST" action="/producto/modificar" enctype="multipart/form-data">

                    <input type="hidden" name="id"  required  value = "<%= producto.id%>"> 

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Nombre: </p>
                        </div>
                        <div class = "contenido">
                            <input type="text" name="nombre"  required  value = "<%= producto.nombre%>"> >
                        </div>
                    </div>

                    

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Código de referencia: </p>
                        </div>
                        <div class = "contenido">
                            <input type="text" name="referencia" required value = "<%= producto.referencia%>">
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Marca: </p>
                        </div>
                        <div class = "contenido">
                            <input type="text" name="marca" required value = "<%= producto.marca %>">
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Desripción: </p>
                        </div>
                        <div class = "contenido">
                            <input type="text" name="descripcion" required value = "<%= producto.descripcion %>" >
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Precio: </p>
                        </div>
                        <div class = "contenido">
                            <input type="text" name="euros" required id="euros" value = "<%= producto.euros %>" >,
                            <input type="text" name="centimos" required id="centimos" value = "<%= producto.centimos %>" > €
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Tipo: </p>
                        </div>
                        <div class = "contenido">
                            <select name = "tipo">
                                <%if(producto.tipo == "ofertas"){%>
                                    <option selected>Ofertas</option>
                                <%}else{%>
                                    <option>Ofertas</option>
                                <%}%>
                                <%if(producto.tipo == "arte"){%>
                                    <option selected>Arte</option>
                                <%}else{%>
                                    <option>Arte</option>
                                <%}%>
                                <%if(producto.tipo == "oficina"){%>
                                    <option selected>Oficina</option>
                                <%}else{%>
                                    <option>Oficina</option>
                                <%}%>
                                <%if(producto.tipo == "escolar"){%>
                                    <option selected>Escolar</option>
                                <%}else{%>
                                    <option>Escolar</option>
                                <%}%>
                                <%if(producto.tipo == "Libros"){%>
                                    <option selected>libros</option>
                                <%}else{%>
                                    <option>libros</option>
                                <%}%>
                                <%if(producto.tipo == "temporada"){%>
                                    <option selected>Temporada</option>
                                <%}else{%>
                                    <option>Temporada</option>
                                <%}%>
                                <%if(producto.tipo == "informática"){%>
                                    <option selected>Informática</option>
                                <%}else{%>
                                    <option>Informática</option>
                                <%}%>
                                <%if(producto.tipo == "lettering"){%>
                                    <option selected>Lettering</option>
                                <%}else{%>
                                    <option>Lettering</option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p title="Los artículos no visibles no aparecen al público pero sí están en la base de datos.">Visible: </p>
                        </div>
                        <div class = "contenido">
                            <%if(producto.visible == 0){%>
                                <input title="Los artículos no visibles no aparecen al público pero sí están en la base de datos." type="checkbox" name ="visible" class="check">
                            <%}else{%>
                                <input title="Los artículos no visibles no aparecen al público pero sí están en la base de datos." type="checkbox" name ="visible" checked class="check">
                            <%}%>
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p title="Los artículos destacados aparecen en la página de inicio.">Destacado: </p>
                        </div>
                        <div class = "contenido">
                            <%if(producto.destacado == 0){%>
                                <input title="Los artículos destacados aparecen en la página de inicio." type="checkbox" name ="destacado" class="check">
                            <%}else{%>
                                <input title="Los artículos destacados aparecen en la página de inicio." type="checkbox" name ="destacado" checked class="check">
                            <%}%>
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p>Imágen: </p>
                        </div>
                        <div class = "contenido">
                            <input type="file" name="imagen" >
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class = "etiqueta">
                            <p></p>
                        </div>
                        <div class = "contenido">
                            <p>Por favor, no emplee imágenes demasiado pesadas.(Por encima de 300 KB)Si se deja la imágen en blanco se asume que se desea mantener la antigua.</p>
                        </div>
                    </div>

                    <div class = "filaDatos">
                        <div class="crear">
                            <input type="submit"value="Guardar cambios"id = "confirmar"> 
                        </div>
                    </div>
                </form>
            </div>


           

        </div>
    </div>

    <%- include("footer") %>


</body>
</html>